body {
  margin: 0;
  background: #b3e6ff; /* Baby sky blue */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

canvas {
  border: 4px solid white;
  border-radius: 20px;
}
